* {
    margin: 0;
    padding: 0;
}


/* NavBar */

.main {
    margin-left: 5%;
    padding-left: 20px;
    padding-top: 15px;
    position: relative;
}

.logo {
    width: 80px;
    float: left;
}

.heading {
    float: left;
    margin-top: 5px;
    padding-left: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(94, 93, 93);
    font-size: 35px;
}

.tagline {
    display: block;
    margin-top: 1px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(94, 93, 93);
    position: absolute;
    left: 120px;
    margin-top: 50px;
    font-size: 18px;
    opacity: .8;
    /* font-size: 30px; */
}

header {
    background-color: rgb(30, 233, 233);
    height: 110px;
    /* padding: 20px; */
}

.lists {
    float: right;
    margin-top: 25px;
    margin-right: 5%;
}

ul li {
    list-style: none;
    float: left;
    padding-right: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(94, 93, 93);
    text-transform: uppercase;
}