* {
    margin: 0;
    padding: 0;
}


/* NavBar */

.main {
    margin-left: 5%;
    padding-left: 20px;
    padding-top: 15px;
    position: relative;
}

.logo {
    width: 80px;
    float: left;
}

.heading {
    float: left;
    margin-top: 5px;
    padding-left: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(94, 93, 93);
    font-size: 35px;
}

.tagline {
    display: block;
    /* margin-top: 1px; */
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(94, 93, 93);
    position: absolute;
    left: 121px;
    margin-top: 50px;
    font-size: 18px;
    opacity: .8;
    /* font-size: 30px; */
}

header {
    background-color: rgb(30, 233, 233);
    height: 110px;
    /* padding: 20px; */
}

.lists {
    float: right;
    margin-top: 25px;
    margin-right: 5%;
}

ul li {
    list-style: none;
    float: left;
    padding-right: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(94, 93, 93);
    text-transform: uppercase;
}

.toggle {
    display: none;
}

@media (max-width:500px) {
    /* Header */
    .main {
        margin-left: 2%;
        padding-left: 20px;
        padding-top: 15px;
        position: relative;
    }
    .logo {
        width: 50px;
        float: left;
    }
    header {
        background-color: rgb(30, 233, 233);
        height: 80px;
        width: 100%;
        /* padding: 20px; */
    }
    .heading {
        /* float: left; */
        margin-top: 1px;
        padding-left: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(94, 93, 93);
        font-size: 15px;
    }
    .tagline {
        /* display: block; */
        /* margin-top: 1px; */
        width: 80%;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(94, 93, 93);
        position: absolute;
        left: 80px;
        margin-top: 30px;
        font-size: 7px;
        opacity: .8;
        /* font-size: 30px; */
    }
    .toggle {
        display: block;
        position: absolute;
        right: 0;
        top: 25px;
        margin-right: 5%;
        font-size: 30px;
    }
    .lists {
        clear: both;
        display: block;
        width: 100%;
        margin-top: 0px;
        margin-right: 0%;
        margin-top: 15px;
        height: 0px;
        overflow: hidden;
        -webkit-transition: height .2s, background .2s;
    }
    .ul {
        clear: both;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0%;
        margin-top: 0px;
    }
    .show-links {
        height: 160px;
        margin-top: 15px;
        padding-bottom: 15px;
        background-color: aqua;
    }
    ul li {
        list-style: none;
        /* float: left; */
        /* padding-right: 35px; */
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        letter-spacing: 1px;
        color: rgb(94, 93, 93);
        text-transform: uppercase;
        margin-top: 15px;
        width: 100%;
    }
}